<%@topics.each do |topic| %>
  <tr>
    <th><%= topic.title %></th>
    <th><%= link_to topic.user.nick,user_path(topic.user),remote: false %></th>
    <th><%= topic.created_at %></th>
    <td><%= link_to "View", topic_path(topic), remote: false, class: "btn btn-danger" %>
      <td><% if current_user==topic.user or current_user.admin %>
        <%= link_to "Delete", topic_delete_path(topic), remote: true, class: "btn btn-danger" %>
    <%else%>
        &nbsp;
     <%end%> 
     </td>
  </tr>
<tr class="" style="background-color:rgb(249,249,249);"> 
  <td colspan="5" style="
white-space: -moz-pre-wrap !important; 
white-space: -pre-wrap;      
white-space: -o-pre-wrap;   
white-space: pre-wrap;       
word-wrap: break-word;       
word-break: break-all;
white-space: normal;
">
        <% if topic.text.mb_chars.length >= 300%>
             <p><%=topic.text.slice(0,300)+"..."%><%= link_to "Show Description", topic_showDescription_path(topic), remote: true %></p>
            <%else%>
            <p><%=topic.text%></p></td>        
        <%end%>
       
  </td>
</tr>
<% end %>